* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f2f2;
}

.resume {
  width: 900px;
  margin: 20px auto;
  display: flex;
  background: white;
}

.left {
  width: 35%;
  background-color: palevioletred;
  color: #fff;
  padding: 20px;
}

.circle-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 15px;
  border-radius: 50%;
}

.left h1 {
  text-align: center;
}

.left h3 {
  text-align: center;
  margin-bottom: 20px;
}

.section h4 {
  border-bottom: 2px solid #fff;
  margin-bottom: 8px;
}

.right {
  width: 65%;
  padding: 25px;
}

.block {
  margin-bottom: 25px;
}

.block h2 {
  color: #6a3fb5;
  border-bottom: 2px solid #6a3fb5;
  margin-bottom: 10px;
}

.block h3 {
  margin-top: 10px;
  color: aquamarine;
  margin-bottom: 8px;
}

ul {
  margin-left: 20px;
}

.skills li {
  list-style: none;
  margin-bottom: 5px;
}